:root {
  --primary-color: #017e8c;
  --text-color: #58758f;
  --link-color: #58758f;
  --light-gray: #f9f9f9;
  --purpish: #a4a3c5;
  --bg-color: #f4f6fb;
  --shadow-color: #58758f20;
  --green: #75bcc0;
  --darker-green: #609b9e;
  --red: #eb5757;
}
