header {
  height: var(--header-height);
  #header-left {
    width: var(--aside-width);
    background: var(--light-gray);
    height: 100%;
  }
  #header-right {
    width: var(--main-width);
    border-bottom: 1px solid var(--border-color);
    height: 100%;
  }
}
