#mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  background: white;
}

#mobile-bar {
  background: var(--primary-color);
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  z-index: 2;
  position: fixed;

  ul {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

    a {
      color: white;
    }
  }
}

#toggle-button {
  border-radius: 50%;
  border: 10px white solid;
  width: 60px;
  height: 60px;
  display: block;
  bottom: 30px;
  position: relative;
  background: var(--primary-color);
  clip-path: polygon(
    0 0,
    0 100%,
    44% 78.5%,
    37.5% 50%,
    44% 22%,
    50.5% 50%,
    44% 78.5%,
    0 100%,
    100% 100%,
    100% 0
  );
}
