#mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  background: white;
}

#mobile-bar {
  background: var(--primary-color);
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  z-index: 2;
  position: fixed;
  clip-path: circle(60% at 50% 50%);

  ul {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

    a {
      color: white;
    }
  }
}

#toggle-button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: block;
  bottom: 30px;
  position: relative;
  background: var(--primary-color);
}
