:root {
  --header-height: 80px;
  --user-aside-width: 20vw;
  --main-width: calc((100% - var(--aside-width)) - var(--user-aside-width));
}

@media only screen and (min-width: 320px) {
  :root {
    --aside-width: 0;
  }
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1140px) {
}

@media only screen and (min-width: 1280px) {
  :root {
    --font-size: 14px;
    --total-earning-img-size: 100px;
    --aside-width: 15vw;
  }
}

@media only screen and (min-width: 1281px) {
  :root {
    --font-size: 16px;
    --total-earning-img-size: 200px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 144dpi) {
}
