#user-aside {
  width: var(--user-aside-width);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vw;
}

#user-image {
  border-radius: 50%;
  width: 6em;
  height: 6em;
  overflow: hidden;
}

#user {
  span {
    font-style: normal;
    display: block;
    font-size: 0.8em;
  }
  p {
    font-size: 0.9em;
    font-family: $poppins-medium;
    text-transform: uppercase;
  }
}
.has-notification {
  position: relative;
  i {
    background: var(--primary-color);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    right: -4px;
  }
}
