$primary-color: #079ca5;
$text-color: #0d0a46;
$link-color: #0d0a46;
$bg: #f7f8fc;
$poppins-regular: "Poppins-Regular";
$poppins-medium: "Poppins-Medium";
$poppins-bold: "Poppins-Bold";
$default-font: $poppins-regular;
