@import "main";

main {
  margin-left: var(--aside-width);
  width: var(--main-width);
  background: var(--bg-color);
  height: 100%;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  position: relative;

  &:after {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: -100vw;
    top: 0;
    background: var(--bg-color);
  }
}

.icon-box {
  .icon-box-icon {
    width: 50px;
    height: 50px;
    background: var(--bg-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.copy-animation {
  animation: copied;
  animation-duration: 2s;
}

@keyframes copied {
  0% {
    opacity: 0;
    bottom: 0;
    filter: blur(5px);
  }
  30% {
    opacity: 1;
    bottom: 25px;
    filter: blur(0);
  }
  70% {
    opacity: 1;
    bottom: 25px;
    filter: blur(0);
  }
  100% {
    opacity: 0;
    bottom: 60px;
    filter: blur(5px);
  }
}
/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1140px) {
}

@media only screen and (min-width: 1280px) {
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 144dpi) {
}
