@import "main";

main {
  margin-left: var(--aside-width);
  width: var(--main-width);
  background: var(--bg-color);
  height: 100%;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  position: relative;

  &:after {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: -100vw;
    top: 0;
    background: var(--bg-color);
  }
}

.icon-box {
  --icon-box-icon-size: 66px;
}

.icon-box {
  display: grid;
  grid-template-columns: var(--icon-box-icon-size) 1fr;
  column-gap: 10px;
  flex-basis: 33.33%;

  .icon-box-icon {
    width: var(--icon-box-icon-size);
    height: var(--icon-box-icon-size);
    background: var(--bg-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 1/3;
    svg {
      width: 20px;
      height: 20px;
    }
  }
  em {
    font-style: normal;
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 1.1em;
    align-self: flex-end;
  }
  strong {
    font-style: normal;
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 1.2em;
    align-self: flex-start;
  }
}

#total-earning {
  .big-box-title,
  .value-jumbo-text {
    position: absolute;
    left: 0;
  }

  .big-box-title {
    top: 20px;
  }

  .value-jumbo-text {
    top: 40px;
  }

  img {
    position: relative;
  }
}

.big-box-title {
  font-size: 1.3em;
  font-weight: 500;
  font-style: normal;
}

.value-jumbo-text {
  font-size: 1.6em;
  font-weight: 700;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.copy-animation {
  animation: copied;
  animation-duration: 2s;
}

@keyframes copied {
  0% {
    opacity: 0;
    bottom: 0;
    filter: blur(5px);
  }
  30% {
    opacity: 1;
    bottom: 25px;
    filter: blur(0);
  }
  70% {
    opacity: 1;
    bottom: 25px;
    filter: blur(0);
  }
  100% {
    opacity: 0;
    bottom: 60px;
    filter: blur(5px);
  }
}
/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1140px) {
}

@media only screen and (min-width: 1280px) {
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 144dpi) {
}
